@import '../../../variables.scss';

@mixin border-animation {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.5s ease-out;
}

.standard-button-holder {
  width: 100%;
  padding: 10px 15px;
  font-size: $font-size-normal;
  font-family: $font-family-standard;
  border-radius: 5px;
  margin: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-out;

  &.green {
    background-color: $green-normal;
    border: 1px solid $green-darker;
    &:hover {
      background-color: $green-dark;
      @include border-animation();
    }
  }

  &.red {
    background-color: $red-normal;
    border: 1px solid $red-darker;
    &:hover {
      background-color: $red-dark;
      @include border-animation();
    }
  }

  &.blue {
    background-color: $blue-normal;
    border: 1px solid $blue-darker;
    &:hover {
      background-color: $blue-dark;
      @include border-animation();
    }
  }
  &.yellow {
    background-color: $yellow-normal;
    border: 1px solid $yellow-darker;
    &:hover {
      background-color: $yellow-dark;
      @include border-animation();
    }
  }
  &.orange {
    background-color: $orange-normal;
    border: 1px solid $orange-darker;
    &:hover {
      background-color: $orange-dark;
      @include border-animation();
    }
  }
}
