@import '../../../variables';

.input-holder {
  position: relative;
  padding: 0;

  .label-default {
    position: absolute;
    top: 8px;
    left: 10px;
    background: white;
    margin: 0;
    padding: 0;
    font-size: $font-size-normal;
    transition: all 0.3s ease;
    font-weight: 500;
    cursor: text;
    z-index: 1;

    &.input-default-focus {
      top: -8px;
      padding: 0 5px;
      border: 0.5px solid black;
      border-radius: 10px;
      font-size: $font-size-smaller;
    }

    &.input-default-invisible {
      z-index: -1;
    }
  }

  .input-default {
    margin: 0 0 20px;
    height: 40px;
    width: 100%;
    border: 1px solid $black-standard;
    border-radius: 5px;
    outline: none;
    padding: 0 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $grey-dark;
    position: relative;

    &::placeholder {
      color: $grey-dark;
    }
  }
}
