@import '../../../variables';
@import '../../../mixins';

.contact-holder {
  margin-bottom: 40px;

  .contact-title {
    text-align: center;
    margin: 30px 0 20px;
    font-size: $font-size-big;
  }
}
