<div class="contact-holder col-xs-12 col-sm-8 col-sm-offset-2">
    <h1 class="contact-title">DISCUSS YOUR PROJECT WITH US</h1>
    <app-separator iconType="envelope"></app-separator>

    <div class="col-xs-12 contact-info">
        <h5><i class="fa fa-globe"></i> Location: Sofia, Bulgaria</h5>
        <h5><i class="fa fa-envelope-o"></i> Email: scratchwebteam@gmail.com</h5>
        <h5><i class="fa fa-phone"></i> Phone: +359 98 897 2539</h5>
    </div>
    <div class="col-xs-12">
        <form [formGroup]="contactForm">
            <app-input-default label="Name" formControlName="name">
                <app-validation [isInvalid]="name.touched && name.invalid"></app-validation>
            </app-input-default>
            <app-input-default label="E-mail" formControlName="email">
                <app-validation [isInvalid]="email.touched && email.invalid"></app-validation>
            </app-input-default>
            <app-input-default label="Phone" formControlName="phoneNumber">
                <app-validation [isInvalid]="phoneNumber.touched && phoneNumber.invalid" label="The field should be between 6 and 22 symbols."></app-validation>
            </app-input-default>
            <app-textarea label="About Your Project" formControlName="description">
                <app-validation [isInvalid]="description.touched && description.invalid" label="The field should be between 50 and 10000 symbols."></app-validation>
            </app-textarea>
            <app-button-full-width label="Submit" (onClick)="submitForm()"></app-button-full-width>
        </form>
    </div>
</div>
