@import '../../../variables';
@import '../../../mixins';

.header-holder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 0;
  z-index: 1030;
  background-color: $color-white;
  font-family: $font-family-standard;
  @include clearfix();
  box-shadow: $box-shadow-standard;

  .nav-left {
    float: left;
    margin: 0 0 0 30px;
    position: relative;
    cursor: pointer;

    @media (max-width: 500px) {
      margin: 0 0 0 20px;
    }

    .header-square {
      position: relative;
      top: 3px;
      float: left;
      width: 35px;
      height: 35px;
      background-color: $color-main;
      transform: rotate(45deg);

      .header-square-letter {
        position: absolute;
        top: 0;
        left: 10px;
        color: $color-white;
        font-size: $font-size-bigger;
        transform: rotate(-45deg);
      }
    }

    h1 {
      float: left;
      margin: 0;
      padding: 0 0 0 25px;
      color: $color-black;
      font-size: $font-size-big;
      line-height: 2.25;
      cursor: pointer;

      @media (max-width: 500px) {
        padding: 0 0 0 15px;
      }
    }
  }

  .nav-right {
    float: right;
    margin: 0;
    text-align: center;
    height: 100%;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 30px 0 0;
      height: 100%;
      @media (max-width: 500px) {
        margin: 0 10px 0 0;
      }

      a {
        display: inline-block;
        height: 100%;
        outline: none;
        color: $color-font-standard;
        text-decoration: none;
        font-size: $font-size-small;
        line-height: 3.2;
        &:hover {
          color: $color-main;
        }

        &.is-active {
          color: $color-main;
        }
      }
    }
  }
}
