@import '../../../variables';
@import '../../../mixins';

.member-holder {
  @include clearfix();
  font-family: $font-family-standard;
  text-align: center;
  margin: 0 0 40px;

  .member-image {
    width: 200px;
    min-height: 250px;
    object-fit: cover;
    border: 1px solid $color-main;
  }

  .member-name {
    font-size: $font-size-big;
    color: $color-main;
  }

  .member-profession {
    font-size: $font-size-normal;
    margin: 0;
    color: $color-font-standard;

    .member-linkedIn {
      text-decoration: none;
      color: $color-main;
      cursor: pointer;
    }
  }
}
