@import '../../../variables';

.home-holder {
  .home-title-holder {
    background-image: url('../../../assets/images/home-page-img.jpg');
    background-size: 100% 100%;
    padding: 0 20%;
    height: 500px;
    text-align: center;
    margin: 0 0 50px;

    @media (max-width: 1024px) {
      height: 400px;
      padding: 0 10%;
    }

    @media (max-width: 767px) {
      height: 300px;
    }

    @media (max-width: 500px) {
      height: 200px;
    }

    .home-title {
      color: $color-white;
      position: relative;
      top: 25%;
      margin: 0;
      transform: translateY(-50%);
      font-size: $font-size-biggest;
      @media (max-width: 1024px) {
        font-size: $font-size-big;
      }
    }
  }

  .home-section-title {
    color: $color-black;
    font-size: $font-size-big;
    margin: 30px 0 20px;
  }

  .home-services-holder {
    text-align: center;

    .home-services-column {
      margin: 20px 0;
    }

    .home-square-title {
      font-size: $font-size-big;
    }

    .home-square-paragraph {
      margin: 20px 0;
      font-size: $font-size-normal;
      color: $color-font-standard;
    }

    .home-square-web {
      position: absolute;
      transform: rotate(-45deg);
      top: 13px;
      left: 10px;
    }

    .home-square-mobile {
      font-size: 30px;
      position: absolute;
      top: 8px;
      left: 17px;
      transform: rotate(-45deg);
    }
  }

  .home-technologies-holder {
    text-align: center;
  }

  .home-team-holder {
    text-align: center;
  }
}
