<div class="home-holder">
    <div class="home-title-holder">
        <h1 class="home-title">AT SCRATCH WE LOVE FUNCTIONAL WEBSITES AND MOBILE APPS</h1>
    </div>
    <div class="home-services-holder">
        <h2 class="home-section-title">SCRATCH SERVICES</h2>
        <div class="home-services-column col-xs-12 col-sm-6">
            <app-square-icon><span class="home-square-web">Web</span></app-square-icon>
            <h2 class="home-square-title">Web Development</h2>
            <p class="home-square-paragraph">
                Rich, complex and functional websites with Angular / React, HTML5 games and Node.js back end.
            </p>
        </div>
        <div class="home-services-column col-xs-12 col-sm-6">
            <app-square-icon><i class="home-square-mobile fa fa-mobile"></i></app-square-icon>
            <h2 class="home-square-title">Mobile Development</h2>
            <p class="home-square-paragraph">
                Hybrid Mobile Development with React Native / NativeScript on IOS and Android.
            </p>
        </div>
    </div>
    <div class="home-technologies-holder">
        <h2 class="home-section-title">TECHNOLOGIES</h2>
    </div>
    <div class="home-team-holder">
        <h2 class="home-section-title">TEAM</h2>
        <div *ngFor="let member of teamMembers" class="col-xs-12 col-sm-6">
            <app-member-preview [memberInfo]="member"></app-member-preview>
        </div>
    </div>
</div>
