@import '../../../variables';

@mixin load-background-image($url) {
  text-align: center;
  background: url($url) no-repeat center;
  background-size: contain;
  height: 150px;
}

.home-holder {
  .home-title-holder {
    background-image: url('../../../assets/images/home-page-img.jpg');
    background-size: 100% 100%;
    padding: 0 20%;
    height: 500px;
    text-align: center;
    margin: 0 0 50px;

    @media (max-width: 1024px) {
      height: 400px;
      padding: 0 10%;
    }

    @media (max-width: 767px) {
      height: 300px;
    }

    @media (max-width: 500px) {
      height: 200px;
    }

    .home-title {
      color: $color-white;
      position: relative;
      top: 25%;
      margin: 0;
      transform: translateY(-50%);
      font-size: $font-size-biggest;
      @media (max-width: 1024px) {
        font-size: $font-size-big;
      }
    }
  }

  .home-section-title {
    color: $color-black;
    font-size: $font-size-big;
    margin: 30px 0 10px;
  }

  .home-services-holder {
    text-align: center;

    .home-services-column {
      margin: 20px 0;
    }

    .home-square-title {
      font-size: $font-size-big;
    }

    .home-square-paragraph {
      margin: 20px 0;
      font-size: $font-size-normal;
      color: $color-font-standard;
    }

    .home-square-web {
      position: absolute;
      transform: rotate(-45deg);
      top: 13px;
      left: 10px;
    }

    .home-square-mobile {
      font-size: 30px;
      position: absolute;
      top: 8px;
      left: 17px;
      transform: rotate(-45deg);
    }
  }

  .home-technologies-holder {
    text-align: center;
    .home-technologies-angular-logo {
      @include load-background-image('../../../assets/images/angular.png');
    }
    .home-technologies-nativescript-logo {
      @include load-background-image('../../../assets/images/nativescript.png');
    }
    .home-technologies-node-logo {
      @include load-background-image('../../../assets/images/node-js-logo.png');
    }
    .home-technologies-pixi-logo {
      @include load-background-image('../../../assets/images/pixi-logo.png');
    }
    .home-technologies-react-logo {
      @include load-background-image('../../../assets/images/react-logo.png');
    }
    .home-technologies-react-native-logo {
      @include load-background-image('../../../assets/images/react-native-logo.png');
    }
    .home-technologies-typescript-logo {
      @include load-background-image('../../../assets/images/typescript-logo.png');
    }
    .home-technologies-web-development-logo {
      @include load-background-image('../../../assets/images/web-development-logo.png');
    }
  }

  .home-team-holder {
    text-align: center;
    
  }
}
