$green-darkest: #01470e;
$green-darker: #30663a;
$green-dark: #3e8e4c;
$green-normal: #42f450;
$green-light: #75f98d;
$green-lighter: #99fcab;
$green-lightest: #caf9d3;
$blue-normal: #2e3ff7;
$yellow-normal: #fffb14;
$blue-darkest: #001a5e;
$blue-darker: #012ea0;
$blue-dark: #003dd8;
$blue-normal: #0048ff;
$blue-light: #2863fc;
$blue-lighter: #4578f9;
$blue-lightest: #6893ff;
$red-darkest: #5b0002;
$red-darker: #8c0104;
$red-dark: #cc0207;
$red-normal: #f71b29;
$red-light: #ff3037;
$red-lighter: #f75459;
$red-lightest: #ed8083;
$yellow-lightest: #f7f571;
$yellow-lighter: #fcf93c;
$yellow-light: #fffc1e;
$yellow-normal: #fffa00;
$yellow-dark: #ceca00;
$yellow-darker: #999601;
$yellow-darkest: #5b5a00;
$orange-lightest: #f7b854;
$orange-lighter: #f9ae36;
$orange-light: #fca51b;
$orange-normal: #f99b02;
$orange-dark: #d38302;
$orange-darker: #a06301;
$orange-darkest: #663f01;
$grey-light: #bababa;
$grey-normal: #8c8c8c;
$grey-dark: #080404;
$purple-light: #b770ff;
$purple-normal: #7c00f9;
$purple-dark: #430187;

$font-family-standard: sans-serif, Helvetica, Arial;
$font-size-biggest: 30px;
$font-size-bigger: 24px;
$font-size-big: 20px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
