

$black: #020101;
$white: white;
$font-family-standard: 'Lato', 'Mandali', 'Roboto';
$font-size-biggest: 30px;
$font-size-bigger: 24px;
$font-size-big: 20px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-smaller: 12px;
